<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3624917c4f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>Nav bar</title>

    <style>
        body {
            margin: 0;
            
        }
        
        a {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
        
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: beige;
            padding: 4px 6px;
            font-family: 'Jua';
        }
        
        .navbar__logo {
           
            color: violet;
            
        }
        
        .navbar__menu {
            display: flex;
            list-style: none;
            padding-left: 0;
        }
        
        .navbar__menu li {
            padding: 4px 12px;
        }
        .navbar__menu li:hover {
            background-color: grey;
            border-radius: 4px;
        }
        
        .navbar__links {
            list-style: none;
            padding-left: 0;
            color: teal;
            display: flex;
        }
        
        .navbar__links li {
            padding: 8px 12px;
        }
        
        .navbar__toggleBtn {
            display: none;
            position: absolute;
            right: 32px;
            font-size: 24px;
        }
        
        @media screen and (max-width: 600px) {
            .navbar {
                flex-direction: column;
                align-items: flex-start;
                padding: 8px 24px;
            }
            .navbar__menu {
                display: none;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
            .navbar__menu li {
                width: 100%;
                text-align: center;
            }
            .navbar__links {
                display: none;
                justify-content: center;
                width: 100%;
            }
            .navbar__toggleBtn {
                display: block;
            }
        
            .navbar__menu.active,
            .navbar__links.active {
                display: flex;
            }
        }
        </style>  

</head>

<body>
        <header class="navbar">
            
           <div>
               <img src="/cas_logo.jpg" style="max-width:6.7rem; height:auto; vertical-align: top; padding-left: 0.2rem; border-radius: 4px;">
                   
                <div>
                    <span style="color:black; font-size: 16px; -webkit-text-stroke: 0.5px orange; padding-left: 0.2rem; vertical-align: top;">크리스천 미래학교</span>
                </div>  
           </div>
                           
        <ul class="navbar__menu">
            <!--<li><form action="/loginProc" method="post">
                   <ul>
                       <input type="text" id="id" name="member_id" size=5 placeholder="아이디" style="border:0px;" required>
                       <input type="password" id="pw" name="pw" size=4 placeholder="비번" style="border:0px;" required>
                       <button style="background-color: bisque; border:0px; outline:0px">로그인</button>
                   </ul>
                </form>  
            </li>-->
            <li><a style="color:blue; font-size: 12px;"> 
                <% if(member_id){ %>
                <%=name%>님 환영합니다
                  <a href="/logout" style="color:brown; font-size: 14px;">로그아웃</a>
                <% }else{ %>
                    <form action="/loginProc" method="post">
                        <ul><a href ="/"></a>
                            <input type="text" id="id" name="member_id" size=5 placeholder="아이디" style="border:0px;" required>
                            <input type="password" id="pw" name="pw" size=4 placeholder="비번" style="border:0px;" required>
                            <button style="background-color: bisque; border:0px; outline:0px">로그인</button>
                            
                        </ul>
                     </form>  

                    
                <% } %>
            </a></li>
            <li><a href="/">: 홈</a></li>
            <li><a href="/medit">말씀묵상</a></li>
            <li><a href="/enroll">입학지원</a></li>
            <!--<li><a href="/schedule">스케줄</a></li>
            <li><a href="/goalcard">골카드</a></li>
            <li><a href="/balance">재정</a></li>

            <li><a href="/interce">중보기도</a></li>
            <li><a href="/counsel">상담</a></li>
            <li><a href="/transcript">성적처리</a></li>
            <li><a href="/attend">출석체크</a></li>
            <li><a href="/charge">청구서</a></li>-->
            
            
        </ul>
        <ul class="navbar__links">
            <li> <i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-instagram"></i></li>
        </ul>

        <a href="#" class="navbar__toggleBtn"><i class="fas fa-bars"></i></a>
                     
        <hr>
 
        </header>