<%-include('header.ejs')%>

       <ul>
           <li>열심을 다하는 예배생활</li>
           <li>새벽을 깨우는 삶</li>
           <li>종말론적 가치관</li>
           <li>비귀족화</li>
           <li>행정의 민주화</li>
           <li>익명적 헌신</li>
           <li>자원적 봉사</li>
       </ul>
<%-include('footer.ejs')%>